body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overscroll-behavior: none;
}

body.has-player {
  padding-bottom: 120px;
}

@media (min-width: 0px) {
  body {
    padding-top: 64px;
  }

  body.has-tabs {
    padding-top: 106px;
  }
}

@media (min-width: 600px) {
  body {
    padding-top: 72px;
  }

  body.has-tabs {
    padding-top: 114px;
  }
}

/* HACK */

.MuiSlider-markLabel {
  color: #c2272d !important;
}

.MuiSlider-mark:nth-child(n+2) {
  display: none !important;
}
